    <div data-role="panel" id="<?echo $left_panel_href?>" data-position="left" data-theme="a" data-display="push">
      <?php
        if (mysqli_num_rows($ctgs) > 0) 
        {
  	      echo '<ul data-role="listview" data-inset="true" data-filter="true">
  	              <li data-role="list-divider">Categorias</li>';
		  while ($row = mysqli_fetch_array($ctgs, MYSQLI_ASSOC)) 
  	      {
            echo '<li><a href="index.php?id='.$row['id_'].'&action=nav">'.$row['nme'].'</a></li>';
		  }	
          echo '</ul>';
        }
      ?>
    </div>
