    <div data-role="panel" id="<?echo $left_panel_href?>" data-position="left" data-theme="a" data-display="push">
  	   <ul data-role="listview" data-inset="true" data-filter="true">
  	     <li data-role="list-divider"><?echo $ctg_atual['nme']?></li>
        <?
        if (mysqli_num_rows($ctgs) > 0) 
        {
		    while ($row = mysqli_fetch_array($ctgs, MYSQLI_ASSOC)) 
  	       {
            echo '<li><a href="index.php?id='.$row['id_'].'&action=nav">'.$row['nme'].'</a></li>';
		    }	
        }
        ?>
      </ul>
    </div>
