      <form action="index.php?action=pay" method="post" accept-charset="utf-8" data-ajax="false">
<ul data-role="listview" data-inset="true">
        <li class="ui-body ui-body-b">
            <fieldset class="ui-grid-a">
<div class="ui-block-a">           
	<p><label for="email"><strong>Email</strong></label> <?php create_form_input('email', 'text', $shipping_errors); ?></p>
</div>
<div class="ui-block-b">
	<p><label for="cpf"><strong>CPF</strong></label> <?php create_form_input('cpf', 'text', $shipping_errors); ?><small>Exemplo: 012 345 678 90</small></p>
</div>	          
<div class="ui-block-a">
	<p><label for="nome"><strong>Nome Completo</strong></label> <?php create_form_input('nome', 'text', $shipping_errors); ?></p>
</div>
<div class="ui-block-b">
	<p><label for="telefone"><strong>Telefone</strong></label> <?php create_form_input('telefone', 'text', $shipping_errors); ?><small>Exemplo: 01 2345 6789</small></p>
</div>	          
        
 </fieldset>
        <input data-theme="d" type="submit" value="Conferir Dados" />
        </li>
    </ul>
    
      </form>