    <?
    if (isset($_SESSION['id']))
    {
    echo '<div data-arrow="true" data-role="popup" id="auth" data-overlay-theme="a" data-theme="c" style="max-width:800px;" class="ui-corner-all">
      <p>'.$_SESSION['nme'].'</p>
      <a href="logout.php" data-role=button data-theme="b">Sair</a>
    </div>';
		}
		else
		{
    echo '<div data-arrow="true" data-role="popup" id="auth" data-overlay-theme="a" data-theme="c" style="max-width:800px;" class="ui-corner-all">
      <div data-role="header" data-theme="a" class="ui-corner-top">
        <h1>Login</h1>
      </div>
      <form data-ajax="false" name="auth" action="index.php" method="post">';
          if (!isset($login_errors)) $login_errors = array();        
          if (array_key_exists('login', $login_errors)) 
          {
	          echo '<span class="error">' . $login_errors['login'] . '</span><br />';
	        }
        echo '<label for="email"><strong>Email</strong></label>';
        create_form_input('email', 'text', $login_errors);
        echo '<label for="pass"><strong>Senha</strong></label>';
        create_form_input('pass', 'password', $login_errors);        
        echo '<button type="submit" name="submit" value="submit" data-theme="a">Entrar</button>
      </form>
    </div>';
	  }
    ?>

    <div data-role="footer" data-position="fixed">
      <div class="center-wrapper">
      <div data-role="controlgroup" data-type="horizontal" data-mini="true">
        <?php echo_button($display_left_panel, $left_panel_href, $left_panel_data_icon, $left_panel_name);?>
        <a href="./" data-role="button" data-iconpos="notext" data-icon="home">Home</a>        
        <a href="#top" data-ajax="false" data-role="button" data-iconpos="notext" data-icon="arrow-u">Voltar ao topo</a>
        <a href="#auth" data-rel="popup" data-position-to="window" data-transition="pop" data-role="button" data-iconpos="notext" id="user" data-icon="custom">Autenticação</a>
        <?php echo_button($display_right_panel, $right_panel_href, $right_panel_data_icon, $right_panel_name);?>
      </div>
      </div>
    </div>
    
  </div>
</body>
</html>
