    <div data-role="content" role="main">
 
<?
  if(!empty($info))
  {

    echo '<div data-role="popup" id="popupDialog" data-overlay-theme="a" data-theme="c" data-dismissible="false" style="max-width:400px;" class="ui-corner-all">
    <div data-role="header" data-theme="a" class="ui-corner-top">
        <h1>Remover?</h1>
    </div>
    <div data-role="content" data-theme="d" class="ui-corner-bottom ui-content">
        <h3 class="ui-title">Você tem certeza de que vai remover?</h3>
        <p>Essa ação não poderá ser desfeita.</p>
      <form name="add" action="remove.php" method="post" data-ajax="false">        
        <a href="#" data-role="button" data-inline="true" data-rel="back" data-theme="c">Cancelar</a>
        <input name="id" type="hidden" value="'.$_GET['id'].'">
        <button type="submit" name="submit" value="submit" data-inline="true" data-theme="d">Remover</button>
      </form>
    </div>
    </div>';
    
    


    $update = '<form name=update action="update.php?id='.$_GET['id'].'" method="post" accept-charset="utf-8">
        <div data-role="fieldcontain" data-inline="true">';
        
    $update .= '<p><label for="nme"><strong>Nome de Usuário</strong></label>'
            .update_form_input('nme', $info['nme'], 'true', 'text', $reg_errors).
            '<input name="nme" type="hidden" value="'.$info['nme'].'"></p>';        
                    
    $update .= '<p><label for="email"><strong>Email</strong></label>'
            .update_form_input('email', $info['email'], 'true', 'text', $reg_errors).
            '<input name="email" type="hidden" value="'.$info['email'].'"></p>';
          
    $update .= '<p><label for="first_name"><strong>Primeiro Nome</strong></label>'
            .update_form_input('first_name', $info['first_name'], 'false', 'text', $reg_errors).
            '</p>';
                      
    $update .= '<p><label for="last_name"><strong>Último Nome</strong></label>'
            .update_form_input('last_name', $info['last_name'], 'false', 'text', $reg_errors).
            '</p>';
          
    $update .= '<p><label for="pass1"><strong>Alterar Senha</strong></label>'
            .update_form_input('pass1', '', 'false', 'password', $reg_errors).
            '<small>Deve ter entre 6 e 20 caracteres, com pelo menos uma minúscula, uma maíuscula e um número.</small></p>';
          
    $update .= '<p><label for="pass2"><strong>Confirmar Senha</strong></label>'
            .update_form_input('pass2', '', 'false', 'password', $reg_errors).
            '</p>';
          
    $update .= '</div>

          <input data-inline="true" data-theme="a" type="submit" value="Atualizar" />          
          <a href="#popupDialog" data-rel="popup" data-position-to="window" data-role="button" data-inline="true" data-transition="pop" data-icon="delete" data-theme="d">Remover</a>

      </form>';
      
    echo $update;
  }
  else
  {
    echo '<p>Não há informações para atualização.</p>';
  }
?>
    </div>
