    <div data-role="footer" data-position="fixed">
      <div class="center-wrapper">
      <div data-role="controlgroup" data-type="horizontal" data-mini="true">
        <?php
          echo_button($display_left_panel, $left_panel_href, $left_panel_data_icon, $left_panel_name);
        ?>
        <a href="./" data-role="button" data-iconpos="notext" data-icon="home">Home</a>
        <a href="#top" data-ajax="false" data-role="button" data-iconpos="notext" data-icon="arrow-u">Voltar ao topo</a>
        <a href="index.php?action=pay" data-role="button" data-iconpos="notext" data-icon="check" data-transition="pop">Comprar</a>
        <?php
          echo_button($display_right_panel, $right_panel_href, $right_panel_data_icon, $right_panel_name);
        ?>
      </div>
      </div>
    </div>
    
  </div>

	<script src="../js/jquery-1.6.1.min.js"></script>
	<script src="../js/jquery-common.js"></script>

</body>
</html>
