    <div data-role="content" role="main">
      <div class="ui-grid-d ui-responsive">
      <?php
        $a = array();
        $a[] = 'a';
        $a[] = 'b';
        $a[] = 'c';
        $a[] = 'd';
        $a[] = 'e';
        $i=0;
        
        if (!empty($nav))
        {
          foreach($nav as $item)
          {
            echo '<div class="ui-block-'.$a[$i].'"><a href="index.php?id='.$item['id_'].'&action=nav" data-role="button" data-theme="a">'.$item['nme'].'</a></div>';
            $i++;
          }
	   }
	   
        echo '<div class="ui-block-'.$a[$i].'"><a href="#" data-role="button" data-theme="a" class="ui-disabled">'.$ctg_atual['nme'].'</a></div>';
      ?>  
      </div></br>
      <?
      
        if (isset ($prd ))
        {
          
          echo '
               <a href="#purchase' . $prd['id_'] . '" data-rel="popup" data-position-to="window" data-transition="pop" data-theme="b" data-iconpos="right" data-role="button" data-icon="cart"> Adicionar '.$prd['nme'].' ao carrinho </a>
               
               <div class="center-wrapper">
				<img src="../html/img/images/ajax-loader.gif" class="resize js_show loading_image" rel="../'.$prd['img'].'" />
				<noscript><img src="../uploads/2013/06/21/Boston_City_Flow.jpg" /></noscript>
               </div>
               
               <div class="ui-grid-a ui-responsive">
                  <div class="ui-block-a"><div class="ui-bar ui-bar-a" style="height:100px"><p>'.$prd['nme'].'</p><p>R$'.$prd['prc'].'</p></div></div>
                  <div class="ui-block-b"><div class="ui-bar ui-bar-a" style="height:100px"><p>'.$prd['dsc'].'</p></div></div>
                </div>
                
	          <div data-role="popup" id="purchase' . $prd['id_'] . '" data-theme="d" data-overlay-theme="b" class="ui-content" style="max-width:440px; padding-bottom:2em;">
                    <h3>Adicionando '.$prd['nme'].'</h3>
                    <p>Qual é a quantidade?</p>
                    <form name="add" action="index.php?id=' . $prd['id_'] . '&action=add" method="post">
                      <input type="range" name="slider" value="1" min="0" max="'.$prd['stq'].'" data-highlight="true" />
                      <button type="submit" name="submit" value="submit" data-theme="b">Adicionar</button>
                    </form>
               </div>
                ';
        }
        else
        {
          $purchase = '';
        
          if (mysqli_num_rows($prds) > 0) 
          {
  	       echo '<ul data-theme="c" data-role="listview" data-split-icon="cart" data-inset="true" data-filter="true">';
		    while ($row = mysqli_fetch_array($prds, MYSQLI_ASSOC)) 
  	       {
             echo '<li>
                    <a style="text-decoration:none" data-ajax="false"href="index.php?id=' . $row['id_'] . '&action=view"><img src="'. BASE_URL . $row['img'] . '"><h2>' . $row['nme'] . '</h2><p>R$ ' . $row['prc'] . '</p></a>
                    <a href="#purchase' . $row['id_'] . '" data-rel="popup" data-position-to="window" data-transition="pop">Colocar no Carrinho</a>
                 </li>';
                 
	          $purchase .= '<div data-role="popup" id="purchase' . $row['id_'] . '" data-theme="d" data-overlay-theme="b" class="ui-content" style="max-width:440px; padding-bottom:2em;">
                    <h3>Adicionando ' . $row['nme'] . '</h3>
                    <p>Qual é a quantidade?</p>
                    <form name="add" action="index.php?id=' . $row['id_'] . '&action=add" method="post">
                      <input type="range" name="slider" value="1" min="1" max="' . $row['stq'] . '" data-highlight="true" />
                      <button type="submit" name="submit" value="submit" data-theme="b">Adicionar</button>
                    </form>
                   </div>';
		     }	
            echo '</ul>';
          }
        
          echo $purchase;
        }
      ?>
      
    </div>
