    <div data-role="panel" id="cart" data-position="right" data-theme="a" data-display="push">   

<div data-role="popup" id="popupMenu" data-theme="c">
        <ul data-role="listview" data-inset="true" style="min-width:210px;" data-theme="c">
            <li data-role="divider" data-theme="a">Escolha o método de entrega</li>
            <li><a style="text-decoration:none" href="./">PAC</a></li>
            <li><a style="text-decoration:none" href="./">SEDEX</a></li>
            <li><a style="text-decoration:none" href="./">SEDEX 10</a></li>
            <li><a style="text-decoration:none" href="./">SEDEX A COBRAR</a></li>
        </ul>
</div>
   
      <ul data-role="listview" data-inset="true" data-divider-theme="d" data-count-theme="c" data-filter="true">
          <li data-role="list-divider">Carrinho</li>        

      <?php
        $total = 0;
        $delete = '';
        if (!empty($car)) 
        {
          foreach($car as $row) 
          {
            $subtotal = $row['qtd'] * $row['prc'];
            echo '
              <li data-theme="a" data-role="list-divider">'.$row['nme'].'</li>
              <li data-icon="delete">
              <a style="text-decoration:none" href="#delete'.$row['id_'].'" data-rel="popup" data-position-to="window" data-transition="pop">
              R$ '.number_format($subtotal, 2, '.', '').'
              <span class="ui-li-count">
              '.$row['qtd'].'x R$ '.$row['prc'].'
              </span>
              </a>
            </li>';
            $total += $subtotal;
            

            echo '<div data-role="popup" id="delete' . $row['id_'] . '" data-theme="d" data-overlay-theme="b" class="ui-content" style="max-width:440px; padding-bottom:2em;">
                    <h3>Removendo ' . $row['nme'] . '</h3>
                    <p>Qual é a quantidade a ser removida?</p>
                    <form name="rm" action="index.php?id=' . $row['id_'] . '&action=rm" method="post">
                      <input type="range" name="slider" value="' . $row['qtd'] . '" min="1" max="' . $row['qtd'] . '" data-highlight="true"/>
                      <button type="submit" name="submit" value="submit" data-theme="d">Remover</button>
                    </form>
            </div>';

          }


          /* todo: implementar frete
          $frete = '26';//get_shipping($total);
          $total += $frete;                    
          echo '
          <li data-theme="a" data-role="list-divider">Frete</li>
          <li data-icon="gear">
            <a style="text-decoration:none" data-rel="popup" data-transition="slideup" href="#popupMenu">
               R$ '.number_format($frete, 2, '.', '').'
              <span class="ui-li-count">
                PAC Correios
              </span></a>
          </li>
          ';
          */

          echo '
          <li data-role="list-divider">Total</li>
          <li data-icon="check">
            <a style="text-decoration:none" href="index.php?action=pay" data-transition="pop">
               R$ '.number_format($total, 2, '.', '').'
              <span class="ui-li-count">
                Comprar
              </span></a>
          </li>';
	
        }
        else
        {
          echo '<li data-icon="check">
            <a style="text-decoration:none" href="index.php" data-transition="pop">
               R$ 0
              <span class="ui-li-count">
                Vazio
              </span></a>
          </li>';
        }
      ?>

       </ul>
    </div>

<?
  if (isset($bcash)) echo $bcash;
?>

