    <div data-role="content" role="main">
<?
  if (isset($_SESSION['user_admin'])) 
  {
    if (!isset($_SESSION['user_not_expired'])) 
      echo '<p class="error">A sua conta expirou. Gentileza entrar em contato com o administrador.</p>';
      else
      {
        echo '<a data-role="button" href="create.php" data-theme="b">Criar</a>';
        echo '<a data-role="button" href="read.php" data-theme="b">Ler</a>';
        echo '<a data-role="button" href="update.php" data-theme="b">Atualizar</a>';
      }
  }
  elseif (!isset($_SESSION['user_admin'])) 
  {
    echo '<p class="error">Para acessar essa área você deve estar autenticado como usuário administrador.</p>';
  }
?>
      
    </div>
    