    <div data-role="panel" id="<?echo $left_panel_href?>" data-position="left" data-theme="a" data-display="push">
  	  <ul data-theme="c" data-role="listview" data-icon="false" data-inset="true" data-filter="true">
  	    <li data-role="list-divider"><?echo $left_panel_name?></li>
  	    <?php
         foreach($left_content as $row) 
         {
           $item = '><a style="text-decoration:none;" href="read.php?id='. $row['id_'] . '"><h2>'. $row['nme'] . '</h2></a></li>';

           if (isset($_GET['id']))
           {
             if ($_GET['id'] == $row['id_'])
             {
               $item = ' data-theme="a" data-role="list-divider"' . $item;
             }
           }

           $item = '<li' . $item;
           echo $item;
         }	
  	    ?>
     </ul>
    </div>
