    <div data-role="content" role="main">
      <form action="create.php" method="post" accept-charset="utf-8" data-ajax="false">
        <p>
          <label for="nme"><strong>Nome de Usuário</strong></label>
          <?php create_form_input('nme', 'text', $reg_errors); ?>
          <small>Somente letras e números são permitidos.</small>
        </p>
        <p>
          <label for="email"><strong>Email</strong></label>
          <?php create_form_input('email', 'text', $reg_errors); ?>
        </p>
        <p>
          <label for="pass1"><strong>Senha</strong></label>
          <?php create_form_input('pass1', 'password', $reg_errors); ?>
          <small>Deve ter entre 6 e 20 caracteres, com pelo menos uma minúscula, uma maíuscula e um número.</small>
        </p>
        <p>
          <label for="pass2"><strong>Confirmar Senha</strong></label>
          <?php create_form_input('pass2', 'password', $reg_errors); ?>
        </p>
    
        <input data-theme="a" type="submit" value="add" />
         
      </form>

    </div>
    